*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bd-container{
  max-width: 1200px;
}
.bg-blue{
  background-color: blue;
}
.bg-purpe{
  background-color: purple;
}
.bg-white{
  background-color: white;
}
.font-white{
  color: white;
}